/* your styles go here */

p {
    text-align: left;
}

.fa,
code,
.sidebar-menu li.active a {
    color: #999999;
    border-color: solid 1px #999999;
    background-image: -webkit-linear-gradient(2deg, #9400D3 0%, #FF0000 100%);
    background-image: -moz-linear-gradient(2deg, #9400D3 0%, #FF0000 100%);
    background-image: -o-linear-gradient(2deg, #9400D3 0%, #FF0000 100%);
    background-image: linear-gradient(92deg, #9400D3 0%, #FF0000 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: hue 60s infinite linear;
    -moz-animation: hue 60s infinite linear;
    -o-animation: hue 60s infinite linear;
    animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
    }
}

@-moz-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
    }
}

@-o-keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
    }
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(-360deg);
    }
}